body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
    text-align: center; /* Center the content horizontally */
}

.button-container {
    margin-top: 20px; /* Add some spacing between the button and the currency dropdowns */
    text-align: center; /* Center the button */
}

.button-container button {
    background-color: #444444; /* Darkish grey background color */
    color: #ffffff; /* Text color */
    padding: 10px 20px; /* Add some padding around the button */
    border: none; /* Remove the border */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Show pointer cursor on hover */
}

.button-container button:hover {
    background-color: #333333; /* Darker background color on hover */
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* Update existing styles */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    flex: 1;
}

select {
    flex: 2;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}